body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}
p {
  margin-top: 79px;
  font-size: 14px;
}

.form_all {
  max-width: 1200px;
  min-width: 700px;
  padding: 64px 43px 100px;
  background-color: #E5E5E5;
  margin: 0 auto;

}
.red {
    color: #D83933;
}
.textblue {
  color: #0050D8;
}
.checktext {
  font-weight: 400;
}
.containers {
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  }
  
.containers input, 
.containers select {
  max-width: 392px;
  min-width: 100%;
  height: 40px;
  border: 1px solid #ADADAD;
  border-radius: 2px;
  background: #FFFFFF;
  margin-top: 8px;
  font-size: 16px;
 }

.containers input[type="checkbox"],
.purged input[type="checkbox"]{
    width: 24px;
    height: 24px;
    min-width: 0;
    margin-right: 8px;
    accent-color: #FF00FF;
  }
.containers label.checkbox,
.containers input[type="checkbox"],
.checkbox span {
  display: inline-block;
}
.containers label {
  font-weight: bold;
}
.purged {
  margin-top: 156px;
}
.block {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.information, 
.maternityinformation,
.Officialuse,
.Systeminformation{
  display: flex;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 32px;
}


.containers{
  position: relative;
}

.search::after {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../../img/search.svg);
  width: 24px;
  height: 24px;
  right: 24px;
  top: 36px;
}


.button {
  display: block;
  width: 70px;
  height: 40px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #0050D8;
  text-align: center;
  line-height: 40px;
  margin-left: auto;
  margin-top: 14px;
  text-decoration: none;
}

 