body{
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
h1 {
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-size: 45px;
}
p {
    color: #FFFFFF;
    font-size: 20px;   
}
a {
    color: #499FFE;
    text-decoration: none;
    font-size: 20px;
}
.login {
    min-width: 700px;
    max-width: 1200px;
    min-height: 1000px;
    background-color: #001124;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.login__image {
    max-width: 50%;
    min-width: 10%;
    display: flex;
    align-items: center;
}
.form {
    min-width: 365px;
    min-height: 374px;
    margin: 0 auto;
    padding: 0 10px 0 4%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.btn {
   background-color: #015FC7;
   color:#FFFFFF;
   font-weight: 20px;
   width: 180px;
   height: 43px;
   text-transform: uppercase; 
}
.form input {
    width: 361px;
    height: 43px;
    padding-left: 10px;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    background: #FFFFFF; 
}
 