body{
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}
h1 {
  color: #FFFFFF;
  font-family: 'DM Serif Display', serif;
  font-size: 45px;
}
p {
  color: #FFFFFF;
  font-size: 20px;   
}
a {
  color: #499FFE;
  text-decoration: none;
  font-size: 20px;
}

.registration {
  min-width: 700px;
  max-width: 1200px;
  min-height: 1000px;
  background-color: #001124;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.registration__img {
    max-width: 50%;
    min-width: 10%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
   
  .registration__form {
  margin: 0 auto;
}
  .registration__form input {
    width: 361px;
    height: 43px;
    padding-left: 10px;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    background: #FFFFFF; 
}
  .blue-btn {
    margin-top: 45px;
    display: block;
    margin: 0 auto;
    background-color: #015FC7;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    color: white;
    width: 180px;
    height: 43px;
    border-radius: 5px;
}
  